@font-face {
    font-family: "poppins";
    src: url(fontes/Poppins-Regular.ttf);
}

@font-face {
    font-family: "poppinsThin";
    src: url(fontes/Poppins-Thin.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: "poppins";
}



#main {
    background-image: url(imagens/home-banner.jpg);
    min-height: 42vh;
    min-width: 100%;
}

#logo {
    margin-left: 7%;
    cursor: pointer;
    z-index: 1;
}

nav {
    min-width: 100%;
    min-height: 8vb;
    background-color: rgba(0, 0, 0, 0.483);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

ul {
    list-style: none;
    display: inline-flex;
}

li {
    margin-right: 30%;
}

li>a {
    color: white;
    text-decoration: none;
    font-family: "poppins";
    font-size: 12px;
    transition: 0.5s;
}

li>a:hover {
    color: #FCDC00;
    transition: 0.5s;
}

#colorido {
    color: #FCDC00;
}

#menuBlack {
    background-color: black;
    width: 100%;
    height: 50vh;
    position: absolute;
    top: -60%;
    transition: 0.5s;
    z-index: 0;
}

#menuBlack ul {
    display: block;
}

#chek {
    position: absolute;
    top: 1.5%;
    left: 95%;
    z-index: 10;
    width: 44px;
    height: 44px;
    display: none;
    cursor: pointer;
    opacity: 0;
}

#chek:checked~#menuBlack {
    top: 8%;
}

#menuBlack li {
    margin-bottom: 20px;
    margin-left: 8%;
    padding-bottom: 15px;
    border-bottom: 1px solid #ededed33;
    width: 80%;
    z-index: 0;
}

#menuBlack a {
    font-size: 16px;
    z-index: 0;
}

#lupa {
    min-width: 1%;
    max-width: 1%;
    max-height: 2vb;
    min-height: 2vb;
    margin-right: 5%;
}

#hamburger {
    max-width: 44px;
    max-height: 44px;
    display: none;
    z-index: 1;
}

@media (max-width:990px) {
    nav {
        background-color: black;
    }

    .liApagados,
    #lupa {
        opacity: 0;
    }

    #hamburger,
    #chek {
        display: block;
    }
}

#titulo {
    height: 32vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#titulo h2 {
    font-size: 48px;
    color: white;
    font-weight: bolder;
    margin-bottom: 1%;
}

#titulo p {
    color: white;
    font-size: 14px;
}

#divTrabalhos {
    width: 60%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-self: center;

}

.trabalhos {
    border: 1px solid #eeeeee;
    max-width: 360px;
    max-height: 273px;
    height: 273px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    transition: 0.5s;
}

.imgsTrabalho {
    width: 42px;
}

.trabalhos h4 {
    font-size: 18px;
    color: #222222;
    margin-bottom: 19px;
    margin-top: 14px;
}

.trabalhos p {
    font-size: 15px;
    color: #777777;
    text-align: center;
}

.tamanho1 {
    height: 9vh;
}

.trabalhos:hover{
    background-color: #FCDC00;
    transition: 0.5s;
}

#instagram {
    background-color: #FCDC00;
    padding: 10px 26px;
    min-width: 10%;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-self: center;
    align-self: center;
}

#fotosAlheias {
    max-width: 100%;
    max-height: 336px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.fotosFinais {
    transition: 0.3s;
}

.fotosFinais:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

@media (max-width:1610px) {
    .fotosFinais {
        width: 190px;
        height: 210;
    }
}

@media(max-width:1200px) {
    .fotosFinais {
        width: 160px;
        height: 180px;
    }
}

footer{

    background-color: #04091E;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tamanho2{
    height: 15vh;
    width: 100%;
}

#sobre{
    max-width: 390px;
    max-height:188px ;
    padding: 0px 15px;
}

footer h3{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 35px;
}

footer p{
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    margin-bottom: 30px;
}

p span{
    color: #FCDC00;
}

#boletim{
    min-width: 487px;
    min-height: 141px;
    padding: 0px 15px;
}

#email{
    min-width: 404px;
    min-height: 35px;
    border: 0px;
    color: #DFE1EB;
    padding: 0px 15px;
}

@media (max-width:1220px) {
    #emal{
        width:317px ;
    }
}

@media (max-width:995px) {
    #emal{
        width:270px ;
    }
}

@media (max-width:760px) {
    #emal{
        width:183px ;
    }
}

@media (max-width:570px) {
    #emal{
        width:470px ;
    }
}

#divemail{
    display: flex;
}

#btnEnviar{
    background-color: #fcda00;
    min-width:38.28px ;
    max-height: 39px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btnEnviar img{
    max-height: 25px;
    max-width: 25px;
}

#follow{
    min-width: 165px;
    min-height: 120px;
    padding: 0px 15px;
}

#follow img{
    max-width:  23px;
    min-height: 23px;
    transition: 0.5s;
}

#divdasdivs{
    display: flex;
}

.divSocial{
    display: flex;
    justify-content: space-between;
    margin-right: 17px;
    min-width: 30px;
    min-height: 30px;
    position: relative;
}

.be{
    min-width:  30px;
}

.facebug{
    min-width: 20px;
    min-height: 20px;
}

.imgsNormais{
    position: absolute;
    z-index: 1 ;
}

.imgsAmarelas{
    transition: 0.5s;
    position: absolute;
    z-index: 0;
}

#follow img:hover{
    opacity: 0;
    transition: 0.5s;
}

.twiter{
    min-width:  25px;
    max-height: 25px;
}